


h3 {
    font-size: 1.5rem;
}

.diagnosis {
    color: #fff;

    padding: 0.2rem 0.5rem;
    border-radius: 0.5rem;
}

.diagnosis.malignant {
    background-color: rgb(255, 75, 75);
}
.diagnosis.benign {
    background-color: #01DB4B;
    color: #000;
}
